<div class="content-header">
  2018 Completed Games
</div>
<div class="content-main">
  <div id="completions">
    {{#each gamingData }}
      <div class="completion-game" style="background-image:url('/images/games/{{ cleanString title }}.jpg')">
        <div class="completion-game-title">
          <div class="completion-game-title-text">{{ addOne @key }} - {{ title }}</div>
        </div>
        <div class="completion-game-details">
          <div class="completion-game-header">
            <div class="completion-game-header-date">{{ title }}</div>
            <div class="completion-game-header-duration">{{ date }} ~ {{ duration }}</div>
            <div class="completion-game-header-platform">{{ platform }}</div>
          </div>
          <div class="completion-game-review">
            <div class="completion-game-review-body">
              {{ review }}
              <div class="completion-game-review-rating completion-game-review-stars-{{ rating }}"></div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>